.meals-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-head {
  color: rgb(148, 40, 248);
  font-weight: 400;
}

.meals-error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.meals-error-head {
  margin-bottom: 40px;
  font-size: 20px;
  color: red;
}

.meals-error-body {
  font-size: 14px;
}

.meals-block {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.meals-head {
  font-size: 20px;
  color: rgb(51, 121, 250);
  margin: 14px 0px;
}

.meals-body {
  color: rgb(3, 176, 63);
  margin: 2px 0px;
}
