.foot-wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  border-top: 2px solid plum;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 249, 254);
}
