.nav-bar-wrap {
  height: 60px;
  border-bottom: solid plum 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-link {
  text-decoration: none;
  color: blueviolet;
  transition: color 2s ease;
}

.nav-bar-link:hover {
  color: rgb(208, 167, 246);
}
