.meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meals-form {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: peru 1px solid;
}

.meals-input {
  padding: 6px;
  border: 2px rgb(88, 153, 245) solid;
  border-radius: 6px;
  color: rgb(246, 121, 31);
}

.meals-input:focus {
  border: 2px rgb(244, 124, 144) solid;
}

.meals-select-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.meals-select {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 6px;
  border: 2px rgb(88, 153, 245) solid;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 68%;
  height: 20px;
  background-color: white;

  transition: border 2s ease, background-color 2s ease;
}

.meals-select:hover {
  border: 2px rgb(234, 158, 251) solid;
  background-color: rgb(236, 244, 251);
}

.meals-select-fixed {
  color: rgb(247, 177, 127);
}

.meals-options {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -22px;
  left: 6px;
  transition: bottom 1s ease;
}

.meals-option {
  width: 32px;
  color: rgb(246, 121, 31);
  font-weight: 480;
  margin-bottom: 10px;
}

.option-price {
  bottom: 29px;
}

.option-title {
  bottom: -1px;
}

.meals-sort-dir-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meals-sort-dir-box {
  margin-top: 10px;
  width: 10%;
  height: 20px;
  border: 2px rgb(88, 153, 245) solid;
  border-radius: 6px;
  padding: 6px;
  background-color: white;
  cursor: pointer;

  transition: border 2s ease, background-color 2s ease;
}

.meals-sort-dir-box:hover {
  border: 2px rgb(234, 158, 251) solid;
  background-color: rgb(236, 244, 251);
}

.meals-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 80%;
  height: 420px;
}

.loading-head {
  color: rgb(148, 40, 248);
  font-weight: 400;
}

.meals-error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.meals-error-head {
  margin-bottom: 40px;
  font-size: 20px;
  color: red;
}

.meals-error-body {
  font-size: 14px;
}

.meals-block {
  display: flex;
  flex-direction: column;
  width: 68%;
  text-decoration: none;
  padding: 12px;
  border: 1px solid rgb(0, 195, 255);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgb(230, 247, 230);
  margin-top: 20px;
}

.meals-head {
  font-size: 20px;
  color: rgb(51, 121, 250);
  margin: 14px 0px;
}

.meals-body {
  color: rgb(3, 176, 63);
  margin: 2px 0px;
}

.meals-nor {
  margin-top: 10px;
  padding: 10px;
  border-top: peru solid 1px;
  font-size: 16px;
  font-weight: 280;
  color: rgb(168, 82, 249);
}
