.meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meals-form {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: peru 1px solid;
}

.meals-input {
  padding: 6px;
  border: 2px rgb(88, 153, 245) solid;
  border-radius: 6px;
  color: rgb(246, 121, 31);
}

.meals-input:focus {
  border: 2px rgb(244, 124, 144) solid;
}

.meals-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 80%;
  height: 480px;
}

.loading-head {
  color: rgb(148, 40, 248);
  font-weight: 400;
}

.meals-error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.meals-error-head {
  margin-bottom: 40px;
  font-size: 20px;
  color: red;
}

.meals-error-body {
  font-size: 14px;
}

.meals-block {
  display: flex;
  flex-direction: column;
  width: 68%;
  text-decoration: none;
  padding: 12px;
  border: 1px solid rgb(0, 195, 255);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgb(230, 247, 230);
  margin-top: 20px;
}

.meals-head {
  font-size: 20px;
  color: rgb(51, 121, 250);
  margin: 14px 0px;
}

.meals-body {
  color: rgb(3, 176, 63);
  margin: 2px 0px;
}

.meals-nor {
  margin-top: 10px;
  padding: 10px;
  border-top: peru solid 1px;
  font-size: 16px;
  font-weight: 280;
  color: rgb(168, 82, 249);
}
