.ovSmallHead {
  font-size: 14px;
  color: rgb(172, 172, 172);
}

.ovMediumHead {
  margin-top: 10px;
  font-size: 36px;
  font-weight: 500;
  color: rgb(227, 229, 241);
}

.ovWrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ovBlock {
  display: flex;
  flex-direction: column;
  border-bottom: 1px gray solid;
  margin: 20px;
  padding-bottom: 40px;
  width: 400px;
}

.ovCounter {
  font-size: 40px;
  font-weight: 600;
  color: rgb(227, 229, 241);
}

.ovSubHead {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0px 20px;
  color: rgb(227, 229, 241);
}

.ovPar {
  font-size: 16px;
  font-weight: 280;
  color: rgb(227, 229, 241);
}
