.epic-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.epic-form {
  margin: 20px;
  height: 120px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(26, 177, 26);
  padding: 20px;
  border-radius: 10px;
}

.epic-label {
  font-size: 16px;
  color: rgb(55, 106, 183);
}

.epic-date-input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid pink;
}

.epic-select {
  font-size: 16px;
  color: rgb(253, 161, 1);
  text-align: center;
}

.epic-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epic-img {
  width: 80%;
  max-width: 600px;
  height: auto;
}
