.scroller-wrapper {
  width: 80%;
  min-width: 280px;
  max-width: 680px;
  margin: 40px 20px;
  padding: 20px;
  border: pink 2px solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroller-head {
  text-align: center;
  width: 60%;
  height: 40px;
  color: rgb(117, 145, 245);
  font-weight: 480;
  font-size: 18px;
  border-bottom: 1px solid brown;
  margin-bottom: 10px;
}
