.nav-bar {
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(169, 123, 188);
  border-bottom: 2px rgb(243, 123, 243) solid;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
}
