.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px plum solid;

  transition: background-color 2s ease, color 2s ease;
}

.light {
  background-color: aliceblue;
  color: rgb(85, 85, 251);
}

.dark {
  background-color: rgb(6, 42, 73);
  color: rgb(230, 249, 252);
}
