.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-top: 2px pink solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 240;
  color: rgb(117, 116, 10);
  background-color: rgb(243, 249, 255);
}
