.meal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 80%;
  height: 420px;
}

.loading-head {
  color: rgb(148, 40, 248);
  font-weight: 400;
}

.meal-error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.meal-error-head {
  margin-bottom: 40px;
  font-size: 20px;
  color: red;
}

.meal-error-body {
  font-size: 14px;
}

.meal-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-decoration: none;
  padding: 12px;
  margin-top: 20px;
}

.meal-head {
  font-size: 20px;
  color: rgb(51, 121, 250);
  margin: 14px 0px;
}

.meal-description {
  font-size: 16px;
  font-weight: 300;
  color: rgb(182, 120, 6);
  margin: 20px 0px;
}

.meal-body {
  color: rgb(3, 176, 63);
  margin: 4px 0px;
}
